{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<h1 class="display-3">About Us</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor molestiae beatae totam, quia adipisci illo nam unde minima est sed fugiat neque eum aliquid aspernatur quaerat placeat! Veniam, odio quo!</p>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus vitae tempora alias, inventore in labore perspiciatis nisi voluptate, repudiandae sunt perferendis vero fugiat. Quod aliquid repellendus, cumque totam inventore laboriosam!</p>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis repellendus quam accusantium ab debitis vel itaque. Ullam voluptatum tempora necessitatibus atque, quae laudantium dignissimos nemo, facilis modi earum dicta culpa.</p>
{% endblock %}