{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Daftar CPNS</h1>
    <p class="lead">Website Resmi Pendaftaran CPNS 2019</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta sem nunc, pellentesque iaculis ex faucibus quis. Sed ut lacus sem. Phasellus blandit erat ac nibh vehicula, ac congue est ultricies. Suspendisse in tempus lorem. Cras at aliquam mi. Maecenas elit eros, mattis a sapien non, posuere scelerisque erat. Nunc sed tincidunt odio. Sed quis dapibus nulla. </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
{% endblock %}