<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Plot Image Generator</title>
</head>
<body>
    <h1>Plotter Generator</h1>
    <p>Masukan data yang akan di olah.</p>
    <form action="http://localhost:5000/results" method="POST">
        Data X: <br>
        <input type="text" name="x" placeholder="ex: 1,2,3,.."/><br>
        Data Y: <br>
        <input type="text" name="y" placeholder="ex: 1,2,3,.."/><br>
        <input type="submit" value="Kirim Data">
    </form>
</body>
</html>